{% extends 'common_base.html' %}
{% load static %}
{% block main %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2>QA Mapping</h2>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 mt-2 form-group">
                                <label for="qa">QA</label>
                                <select name="qa" id="qa" class="form-control select2" required>
                                    <option value="" selected disabled>Please Select</option>
                                    {% for i in qa %}
                                    <option value="{{i.emp_id}}">{{i.emp_name}} ({{i.emp_id}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 mt-2 form-group">
                                <label for="campaign">Campaign</label>
                                <select name="campaign" id="campaign" class="form-control select2" required>
                                    <option value="" selected disabled>Please Select</option>
                                    {% for i in campaigns %}
                                    <option value="{{i.id}}">{{i.name}} ({{i.type}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 pt-2 mt-4 form-group">
                                <button class="form-control btn btn-success">Submit</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


{% endblock %}

{% block scripts %}
<script>
function changeDesi(e) {
  $desi = e.value;
  if ( $desi == "CRO" | $desi == "Patrolling officer" ) {
    $("#emp_email").removeAttr("required");
  } else {
    $("#emp_email").attr("required","");
  }
}


</script>
{% endblock %}