{% extends 'common_base.html' %}
{% load static %}
{% block main %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2>Change Password</h2>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="emp">Employee</label>
                                <select name="empid" id="emp" class="form-control select2" required>
                                    <option value="" selected disabled>-- Please Select --</option>
                                    {% for i in profiles %}
                                    <option value="{{i.emp_id}}">{{i.emp_name}} ({{i.emp_id}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="pass">New Password</label>
                                <input type="password" id="pass" name="password" class="form-control" required>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="con_pass"> Confirm Password</label>
                                <input type="password" id="con_pass" name="confirmpass" class="form-control" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" class="form-control btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


{% endblock %}

{% block scripts %}
<script>
function changeDesi(e) {
  $desi = e.value;
  if ( $desi == "CRO" | $desi == "Patrolling officer" ) {
    $("#emp_email").removeAttr("required");
  } else {
    $("#emp_email").attr("required","");
  }
}


</script>
{% endblock %}