{% extends 'common_base.html' %}
{% load static %}
{% block main %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h2>Change Password</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% load crispy_forms_tags %}
                            <div class="signupform">
                                <form method="post" action="/settings" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  {{ form|crispy }}
                                    <br><br>
                                  <button type="submit" class="btn btn-primary form-control">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            {% if request.user.profile.emp_desi not in agent %}
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h2>Change Email</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="current_email">Your Current Email ID</label>
                            <input type="text" readonly id="current_email" class="form-control" value="{{request.user.profile.emp_email}}">
                        </div>
                        <form action="/edit-email" method="POST" enctype="multipart/form-data" style="width:100%;">
                            {% csrf_token %}
                            <div class="col-md-12 form-group mt-3">
                                <label for="new_email">Enter the new Email ID</label>
                                <input type="email" id="new_email" name="new_email" class="form-control">
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <button class="form-control btn btn-primary">Save Change</button>
                            </div>
                            <input type="hidden" name="emp_id" value="{{request.user.profile.emp_id}}">
                        </form>
                    </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <!-- /page content -->

<!--TEst-->

{% endblock %}

{% block scripts %}
<script>
  $("#id_old_password").attr("class","form-control")
  $("#id_new_password1").attr("class","form-control")
  $("#id_new_password2").attr("class","form-control")

</script>
{% endblock %}